/*.*~
/build/*
/.classpath
/.gradle/*
/**/build/*
/.project
/.settings/org.eclipse.jdt.core.prefs
/**/.classpath
/**/.project
/**/.settings/*
/**/*.class
/**/bin/*
*.log
/**/*.log
.nb*
.idea/
*.iml
/build
